<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>Yellow Pages Scrape</title>
    <!-- font icons -->
    <link rel="stylesheet" href="../static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="../static/assets/css/leadmark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <div class="loader"></div>
    <script>
        window.addEventListener("load", () => {
            const loader = document.querySelector(".loader");
          
            loader.classList.add("loader--hidden");
          
            loader.addEventListener("transitionend", () => {
              document.body.removeChild(loader);
            });
          });          
    </script>   
    <!-- page Navigation -->
    
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../static/assets/imgs/logo.svg" alt="">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                     
                    {% if name %}
                    <li class="nav-item">
                        <a href="/search" class="nav-link">Search</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account" class="nav-link">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="ml-4 nav-link btn btn-primary btn-sm rounded">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/login" class="ml-4 nav-link btn btn-primary btn-sm rounded">Login</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            {% block body %}
    
    
            {% endblock body %}
        </div>  
    </header>


	
	<!-- core  -->
    <script src="../static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="../static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="../static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope -->
    <script src="../static/assets/vendors/isotope/isotope.pkgd.js"></script>

    <!-- LeadMark js -->
    <script src="../static/assets/js/leadmark.js"></script>

</body>
</html>
